/build/
*.user
/packaging/arch/*.tar.gz
/packaging/arch/*.pkg.tar.zst
/packaging/arch/src/
/packaging/arch/pkg/
/packaging/arch/build/
/build-*/
/codeql-results/
__pycache__/

/site/node_modules/
/site/dist/

/site/.astro/
